.button {
  padding: var(--space-normal);
  display: flex;
  justify-content: center;
  gap: var(--space-small);
  background-color: var(--color-light-soft);
  color: var(--color-light);
  opacity: 0.4;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.secondary {
  background-color: var(--color-muted);
}
