:root {
  --space-small: 10px;
  --space-regular: 30px;
  --space-big: 60px;
  --space-container: 5%;
}

@media (width > 800px){
  :root{
    --space-container: 10%;
  }
}

@media (width > 1500px) {
  :root {
    --space-container: 15%;
  }
}