@font-face {
  font-family: 'netflix sans light';
  src: url('../../fonts/NetflixSans-Light.otf');
}


@font-face {
  font-family: 'netflix sans Medium';
  src: url('../../fonts/NetflixSans-Medium.otf');
}

@font-face {
  font-family: 'netflix sans regular';
  src: url('../../fonts/NetflixSans-Regular.otf');
}


@font-face {
  font-family: 'netflix sans bold';
  src: url('../../fonts/NetflixSans-Bold.otf');
}

:root {
  --font-bold: NetflixSans-Bold;
  --font-medium: NetflixSans-Medium;
  --font-regular: NetflixSans-Regular;
  --font-light: NetflixSans-Light;
}

body {
  font-family: var(--font-regular);
}