.container {
	margin: var(--space-big) 0;
}

.trailersContainer {
	display: grid;
	gap: var(--space-small);
}

.trailer {
	width: 100%;
	max-height: 250px;
	aspect-ratio: 1/1;
	border-radius: var(--rounded-small);
	border: 0px;
}

@media (width > 724px) {
	.trailersContainer {
		grid-template-columns: 1fr 1fr;
	}
}

@media (width > 1024px) {
	.trailersContainer {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
