.slide {
  height: 130px;
  padding: var(--space-small);
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  cursor: pointer;
}

.image {
  position: absolute;
  inset: 0;
  mask-image: linear-gradient(to bottom, var(--color-dark), transparent);
  transition-duration: 0.5s;
}

.slide:hover > .image {
  transform: scale(110%);
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
