.ButtonMenu {
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    > .bar {
      width: 30px;
      height: 2px;
      background-color: var(--color-light);
      transition: 0.3s ease;
    }
}
