:root {
	--color-dark: rgb(35, 31, 31);
	--color-dark-transparent: rgba(35, 31, 31, 0.7);

	--color-muted: rgb(89, 89, 89);
	--color-muted-transparent: rgb(89, 89, 89, 0.6);

	--color-light: rgb(242, 242, 242);
	--color-light-soft: rgb(178, 178, 178);
	--color-light-transparent: rgba(242, 242, 242, 0.6);

	--color-danger: rgb(229, 9, 20);
	--color-warning: rgb(255, 165, 0);
	--color-success: rgb(0, 128, 0);
}

:root {
	--gradient-dark-transparent: linear-gradient(
		to top,
		var(--color-dark) 0%,
		transparent 100%
	);
}

html {
	background-color: var(--color-dark);
	color: var(--color-light);
}
