.Page404 {
  height: 100vh;
  padding: 0 var(--space-container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-regular);

    > .textContainer {
      text-align: center;
      > .title {
        font-size: var(--fontSize-big);
        font-family: var(--fontFamily-bold);
      }
    }
}